<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOM</title>
    <script src="../assets/js/14-dom.js" defer></script>
    <link rel="stylesheet" href="../assets/css/dom.css">
</head>

<body>
    <h1 id="main-title">La manipulation du Dom en Javascript</h1>
    <p class="txt-uppercase">
        N'oubliez pas de verifier si vos fichiers js sont bien relié dans la balise script src = ''
    </p>
    <p id="upper-test" class="txt-uppercase">
        Pour ouvrir la console faites f12 ou clique droit puis inspecter et n'oublez pas d'aller dans l'onglet console
    </p>
    <h2 class="purple
">Le Javascript permet de modifier notre page HTML</h2>
    <div id="paragraphe-container">

        <section class="mere">
            <div class="azer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio aliquid harum molestiae
                possimus ullam, dicta sint explicabo delectus provident eius temporibus sequi perspiciatis minima? Ipsa
                culpa fugiat iure enim est.</div>
            <div class="tyui">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero commodi. Quae nisi
                nam itaque delectus maiores excepturi eius, minus magnam, cupiditate sint obcaecati similique odio optio
                vel fugiat odit?</div>
            <div class="opqs">Lorem ipsum dolor sit amet consectetur adipisicing elit. A ipsa molestias consequatur
                natus, iste nostrum magnam voluptate cum minima harum cumque excepturi facilis, perferendis architecto
                assumenda! Aliquam maiores dicta repellendus.</div>
            <div class="dfgh">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa quam magnam nemo ut
                veritatis nostrum placeat, quisquam temporibus, repudiandae, voluptate totam ea libero expedita
                consequuntur earum non cumque distinctio laudantium.</div>
        </section>
    </div>
    <h2 id="title-h2">Le javascript permet de modifier des éléments CSS présent sur notre HTML </h2>
    <p id="lastParagraphe" class="paragraphe">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quaerat
        distinctio inventore nobis recusandae sint ullam, nihil nisi minima sapiente consequatur eaque repellat, a aut
        nostrum nesciunt facilis ex quidem.</p>
</body>

</html>