<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../assets/js/16-list.js" defer></script>
    <link rel="stylesheet" href="../assets/css/dom.css">
    <title>Autonomie</title>
</head>

<body>
    <header>
        <nav></nav>
        <h1>Welcome to the jungle</h1>

    </header>
    <main>
        <h1>Safari</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, beatae perferendis porro debitis optio
            voluptatibus dolor obcaecati eaque, excepturi dignissimos quis. Nulla vitae facere consectetur, molestias
            provident quas rem minima.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ea, quidem veniam sapiente natus deleniti
            quasi molestias tempora ad repellat unde aperiam, assumenda similique numquam est hic commodi repellendus
            facilis!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ea, quidem veniam sapiente natus deleniti
            quasi molestias tempora ad repellat unde aperiam, assumenda similique numquam est hic commodi repellendus
            facilis!</p>

        <ul id="sizeText">
            <li>lion</li>

            <li>tigre</li>

            <li>jaguar</li>

            <li>panthere</li>

            <li>guepard</li>

            <li>leopard</li>
        </ul>
        <br>

        <ul id="second-list">

            <li>girafe</li>

            <li>rhinoceros</li>

            <li>hippopotame</li>

            <li>bizon</li>

            <li>gazelle</li>

            <li>zebre</li>
        </ul>




    </main>
    <footer>




    </footer>


</body>

</html>